

*{
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  }
  
body{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  overflow-x: hidden;
  background-color: #F9F1EE;
  color: black;
}

/* Navigation Menu */
header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

  nav a{
    font-size: 16px;
    color: #999999;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }

  nav a:first-child{
    margin-left: 0px;
  }

  nav a:hover{
    color: #99565F;
  }

  nav a.active{
    color: #000000;
    border-bottom: 3px solid #FF919F;
    font-weight: 700;
  }

/* name/home */
.name .name-button{
  color: black;
  font-weight: 500;
  font-size: 64px;

  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease;
}

.name p{
  padding: 20px 10px;
  font-size: 16px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.name-button:hover{
  color: #99565F;
}

/* banner content */
.banner{
  display: flex;
  position: relative;
  overflow: visible;
  height: 600px;
  width: 100%;
  margin-top: 20px;
  border-radius: 25px;
}

.left-side, .right-side{
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
  opacity: 0.7;
}

.left-side{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: url('lefttest.png') center/cover no-repeat;
}

.right-side{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: url('righttest.png') center/cover no-repeat;
}

/* colour overlay */
.left-side::after, .right-side::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.left-side::after{
  background-color: #FF919FD9;
}

.right-side::after{
  background-color: #70C1CCD9;
}

/* Black overlay when hovering */
.left-side::before, .right-side::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(0 0 0 0);
  z-index: 2;
  transition: background-color 0.3s ease;
}

.left-side:hover::before{
  background-color: rgba(0, 0, 0, 0.3);
}

.right-side:hover::before{
  background-color: rgba(0, 0, 0, 0.3);
}

/* banner text */
.left-side h2, .right-side h2{
  z-index: 5;
  font-size: 32px;
}

/* banner image */
.banner-img{
  position: absolute;
  top: -3.4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
}

.banner-img img{
  height: 620px;
  width: auto;
}

/* CTA button & text */
.CTA{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.view-button{
  display: inline-block;
  background-color: #70C1CB;
  padding: 12px 36px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3 ease;
}

.view-button:hover{
  background-color: #99565F;
}

.CTA p {
  font-size: 16px;
  color: #999999;
  margin: 0;
}

/* UIUX work */

.UXwork{
  width: 100%;
  max-width: 1200px;
  margin-top: 80px;
  padding: 0 20px;
  text-align: left;
}

.UXwork h2{
  font-size: 40px;
}

.UXwork-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:(3, auto) ;
  gap: 10px;
}

.UXwork-project{
  background: #999999;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

.UXwork-project:hover{
  background:black;
}

.backToTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #70C1CB;
  color: white;
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.3 ease, background-color 0.3 ease;
}

.backToTop:hover{
  opacity: 1;
  background-color: #99565F;
}

footer{
  position: relative;
  width: 100%;
  margin-top: 200px;
  height: 300px;
  padding: 20px 0px;
  background-color: #99565F;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}